
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* equal spacing between children */
  align-items: center;
  height: 100vh;
  padding-left: 3rem; 
  padding-right: 4.5rem;
  box-sizing: border-box;
  background-color: #6f7553;
  gap: 0.5rem;

}

.top{
  display:flex;
  flex-direction: row;
  margin-bottom: 0;
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.left-side{
  padding-top: 3rem;
  margin-right: 5rem;
  margin-left: 2rem;
}
  
.machine-container {
  position: relative;
  width: 600px; /* match your image's natural size */
  height: auto;
  margin-bottom: 0.5rem;
  margin-right: 0.7rem;;
}

.machine-img {
  width: 100%;
  display: block;
  margin-top: 3rem;
  height: 20rem;
  border: rgba(0, 0, 0, 0.637) solid 0.6rem;
  border-radius: 2%;
}

.reel-overlay {
  position: absolute;
  top: 34.5%;     /* tune this to match your image */
  left: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none; /* optional: lets clicks go through */
  gap: 1.8rem; /* space between each reel */
}


@keyframes glitch {
  0% {
    color:#f7cb06;
    text-shadow: 
      0 0 45px yellow,
      0 0 35px #f1c73dd3,
      0 0 25px #f1c73dd3;
  }
  10% {
    color:#f7cb06;
    text-shadow: 
      0 0 45px yellow,
      0 0 35px #f1c73dd3,
      0 0 25px #f1c73dd3;
  }
  15% {
    color: rgba(0, 0, 0, 0.349);
    text-shadow: 
      0 0 5px rgba(95, 95, 94, 0.781),
      0 0 5px rgba(95, 95, 94, 0.781),
      0 0 5px rgba(95, 95, 94, 0.781);
  }
  18% {
    color:#f7cb06;
    text-shadow: 
      0 0 45px yellow,
      0 0 35px #f1c73dd3,
      0 0 25px #f1c73dd3;
  }
  25% {
    color:#f7cb06;
    text-shadow: 
      0 0 45px yellow,
      0 0 35px #f1c73dd3,
      0 0 25px #f1c73dd3;
  }
  30% {
    color: rgba(0, 0, 0, 0.349);
    text-shadow: 
      0 0 5px rgba(95, 95, 94, 0.781),
      0 0 5px rgba(95, 95, 94, 0.781),
      0 0 5px rgba(95, 95, 94, 0.781);
  }
  40% {
    color:#f7cb06;
    text-shadow: 
     0 0 45px yellow,
      0 0 35px #f1c73dd3,
      0 0 25px #f1c73dd3;
  }
  50% {
    color:#f7cb06;
    text-shadow: 
      0 0 45px yellow,
      0 0 35px #f1c73dd3,
      0 0 25px #f1c73dd3;
  }
  55% {
    color: rgba(0, 0, 0, 0.349);
    text-shadow: 
      0 0 5px rgba(95, 95, 94, 0.781),
      0 0 5px rgba(95, 95, 94, 0.781),
      0 0 5px rgba(95, 95, 94, 0.781);
  }
  57% {
    color:#f7cb06;
    text-shadow: 
     0 0 45px yellow,
      0 0 35px #f1c73dd3,
      0 0 25px #f1c73dd3;
  }
  70% {
    color:#f7cb06;
    text-shadow: 
      0 0 45px yellow,
      0 0 35px #f1c73dd3,
      0 0 25px #f1c73dd3;
  }
  75% {
    color: rgba(0, 0, 0, 0.349);
    text-shadow: 
      0 0 5px rgba(95, 95, 94, 0.781),
      0 0 5px rgba(95, 95, 94, 0.781),
      0 0 5px rgba(95, 95, 94, 0.781);
  }
  90% {
    color:#f7cb06;
    text-shadow: 
      0 0 45px yellow,
      0 0 35px #f1c73dd3,
      0 0 25px #f1c73dd3;
  }
  100% {
    color:#f7cb06;
    text-shadow: 
      0 0 45px yellow,
      0 0 35px #f1c73dd3,
      0 0 25px #f1c73dd3;
  }
}

.neon-glitch {
  font-size: 3.5rem;
  animation: glitch 9s steps(1) infinite;
  letter-spacing: 4px;
  transform: rotate(-6deg); 
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0rem;
  padding-left: 3rem;;
}

h1 {
  transform: rotate(-13deg);
  color:#f7cb06;
  letter-spacing: 7px;
  text-shadow: 
      0 0 45px yellow,
      0 0 35px #f1c73dd3,
      0 0 25px #f1c73dd3;
  font-size: 7rem;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0rem;
}

.bottom{
  display: flex;
  justify-content: flex-end; /* pushes content to the right */
  width: 100%;
  padding-bottom: 1rem;
  padding-right: 9rem;
}

.spinButton{
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  color:rgb(255, 196, 0);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.342);
  border: none;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 45px yellow,
      0 0 15px #f1c73dd3,
      0 0 25px #f1c73dd3,
      0 0 25px #f1c73dd3;
  border: 2px solid #f3c47e;
  margin-top: 1rem;
}

.spinButton:hover {
  box-shadow:
    0 0 15px #f8b421,
    0 0 20px #f8b421,
    0 0 30px #f8b421,
    0 0 40px #f8b421;
  transform: scale(1.09);
  border: 3px solid #f3ce96;
}

.right-side {
  position: relative;
}

.reels-wrapper {
  display: flex;
  flex-direction: row; /* ensure horizontal layout */
  justify-content: center;
  align-items: center;
  gap: 1.3rem; /* space between each reel */
  position: absolute; /* or relative, depending on background placement */
  top: 31.8%; /* adjust to align with machine slots */
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

p{
  color:  rgba(0, 0, 0, 0.637);
  font-size: small;
}


