
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Playwrite+CU:wght@100..400&display=swap');


.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* equal spacing between children */
  align-items: center;
  height: 100vh;
  padding-left: 3rem; 
  padding-right: 4.5rem;
  box-sizing: border-box;
  background-color: #6f7553;
  gap: 0.5rem;

}

.top{
  display:flex;
  flex-direction: row;
  margin-bottom: 0;
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
  
.machine-img {
  margin-top: 3rem;
  height: 20rem;
  border: rgba(0, 0, 0, 0.637) solid 0.6rem;
  border-radius: 2%;
}

.spinSign, .neonFlicker{
  width: 80%;
}

.bottom{
  display: flex;
  justify-content: flex-end; /* pushes content to the right */
  width: 100%;
  padding-bottom: 2rem;
  padding-right: 8rem;
  margin-top: -4rem;
}

.spinButton{
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: larger;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.342);
  border: none;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 35px #f3a033d3;
  border: 2px solid #f8b95a;
}

.spinButton:hover {
  box-shadow:
    0 0 10px #f8b95a,
    0 0 20px #f8b95a,
    0 0 30px #f8b95a,
    0 0 40px #f8b95a;
  transform: scale(1.09);
  border: 2px solid #f8b95a;
}


.reels-wrapper {
  display: flex;
  flex-direction: row; /* ensure horizontal layout */
  justify-content: center;
  align-items: center;
  gap: 1.3rem; /* space between each reel */
  position: absolute; /* or relative, depending on background placement */
  top: 25.4%; /* adjust to align with machine slots */
  left: 71.3%;
  transform: translateX(-50%);
  z-index: 5;
}
