.lottie-overlay {
  position: fixed;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 50%;
  pointer-events: none;  /* so it doesn't block clicks */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of everything else */
  opacity: 0;
  transition: opacity 0.9s ease;
}

.lottie-overlay.fade-in {
  opacity: 1;
}

.lottie-overlay.fade-out {
  opacity: 0;
}
