.reel-window {
  height: 154px; /* 2.5 symbols @ 60px */
  width: 70px;
  overflow: hidden;
  border: 2px solid #222;
  margin: 0 5px;
  background: #111;
  position: relative;
}

.reel-strip {
  position: absolute;
  top: 0;
  left: 0;
}


.symbol-img {
  display: block;
  height: 60px; /* this value * your total symbols must be > reel-window height */
  width: 70px;
  margin: 0;
  padding: 0;
}

