/* Reset default margins and make the body use full height */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #6f7553; /* Move background here if you want full page covered */
}

#root {
  height: 100%;
}
